:root {
  /* Enhance the primary brand colors if desired */
  --sl-color-accent-high: #0964cd;
  --sl-color-accent: #0964cd;
}


/* Base tweaks to typography and general layout */
body {
  font-family: "Inter", system-ui, sans-serif;
}
